body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
	background-position: 0 0;
	background-repeat: repeat;
}
a {
	text-decoration: none;
}

/* здесь позже добавить стили для ссылок */

.main-header {
	background-color: #eeeeee;
}
.header-nav {
	font-size: 16px;
	line-height: 30px;
	color: #000000;
	font-weight: 500;
}
.nav-list,
.nav-basket {
	list-style: none;
}
.nav-list a,
.nav-basket a {
	color: #000000;
}
.header-nav a:hover {
	background-image: url("img/nerds-logo-2.svg");
}
.header-nav a:active {
	background-image: url("img/nerds-logo-3.svg");
}
.nav-list a:hover,
.nav-basket a:hover {
    color: #fb565a;
}
.nav-list a:focus,
.nav-basket a:focus {
	color: #d9d9d9;
}
.nav-list a:active,
.nav-basket a:active {
    border-bottom: 2px solid #e74246;
}
.main-description p {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	text-transform: none;
}
.main-description h1 {
	font-size: 16px;
	line-height: 24px;
	text-transform: none;
	font-weight: 400;
}
.button {
	font: inherit;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	background-color: #000000;
	border: none;
}
.main-description a {
	font-size: 16px;
	line-height: 18px;
	background-color: #fb565a;
}
.main-description a:hover {
	background-color: #fb565a;
}
.main-description a:active {
	color: #d9d9d9;
	background-color: #d7373b;
	box-shadow: inset 0 5px 1px -3px #a5060a; 
}
/* добавить верхий бордер при нахатии у кнопки узнать больше */
.services-list li {
	list-style: none;
}
.third-heading a {
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	font-weight: 700;
}
.web-sites p,
.apps p,
.presentations p {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	text-transform: none;
}
.button-1 {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	background-color: #fb565a;
}
.button-2 {
	background-color: #00ca74;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}
.button-3 {
	background-color: #efc84a;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

/* Добавить псевдоклассы для кнопок */

.studio {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	text-transform: none;
}
.amply-description p {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	text-transform: none;
}

/* перепроверить стили и продолжать */


.studio-description {
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: medium;
}
.amply-description-list {
	list-style: none;
	font-size: 16px;
	line-height: 24px;
	text-transform: none;
	font-weight: 400;
	color: #283136;
}
.table caption {
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 700;
}
.table th {
	font-size: 45px;
	line-height: 10px;
	text-transform: uppercase;
	font-weight: 700;
}
.table td {
	font-size: 16px;
	line-height: 18px;
	text-transform: none;
	font-weight: 400;
	color: #283136;
}
.our-works-list li {
	list-style: none;
}
.modal {
	background-color: #ffffff;
	border: 2px solid #000000;
}

/*задать позже тени для попапа*/


.write-us {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	text-transform: none;
}
.appointment-item {
	text-transform: none;
}
.appointment-item input {
	font-size: 16px;
	line-height: 18px;
	text-transform: none;
	font-weight: 400;
	color: #000000;
	background-color: transparent;
	border: 2px solid #444444;
}
.appointment-item input:focus {
	border-color: red;
}
.appointment-form .button {
	background-color: #fb565a;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
} 
.adress b {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	font-weight: 700;
}
.adress p {
	font-size: 16px;
	line-height: 18px;
	color: #666666;
	font-weight: 400;
	text-transform: none;
}
.adress a {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	font-weight: 500;
	background-color: #fb565a; 
}
.social-links li {
	list-style: none;
	text-decoration: none;
}
.social-button {
	color: #ffffff;
	background-color: #e1e1e1;
}
.footer-copyright-caption {
	text-align: center;
}
.footer-copyright-caption b {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	text-transform: none;
}
.footer-copyright-caption p {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #444444;
	text-transform: none;
}


/* Дополнительные стили для каталога */



.main-heading {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	text-align: center;
}
.filters fieldset {
	border: none;
}
.filters legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}
.range-type label {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #283136;
}
.radio-type label,
.checkbox-type label {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	color: #283136;
	text-transform: none;
}
.price-range button {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #eeeeee;
	border: none;
}
.sort {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
.criteria a {
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
	color: #eeeeee;
}
.criteria a:first-of-type {
	color: #000000;
}
.catalog-list li {
	list-style: none;
}
.site-name {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}
.heading-links span {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	text-transform: none;
	color: #666666;
}
.heading-links button {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #fb565a;
}
.pagination-list {
	list-style: none;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}
.pagination-item a {
	color: #000000;
    text-transform: uppercase;
	background-color: #eeeeee;
}
.pagination-item-current a {
	color: #000000;

    background-color: transparent;
    border: 2px solid #eeeeee;
}
.modal-close {
	background: none;
	border: none;
}


/* Add all basic styles */